.para-text-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.text-area {
	display: block;
	width: 100%;
	resize: none;
	overflow: auto;
	padding: 1rem;
	font-size: 1rem;
	font-weight: 600;
	border: 0.1rem solid #afcbff;
	border-radius: 0.5rem;
	outline: none;
	transition: 0.15s ease-in-out border;
}

.input-block {
	position: relative;
}

.text-area:focus {
	border-color: #0e1c36;
}

.text-area.is-invalid {
	border-color: #e71d36;
}

.word-counter {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	background-color: #000000;
	opacity: 0.7;
	color: #ffffff;
	padding: 0.25rem;
	border-radius: 0.25rem;
}
