.word-cloud-container {
	height: 100%;
	width: 100%;
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
}

.word {
	margin: 1rem;
	display: block;
}

.btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.word-cloud-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
