@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	min-height: 100vh;
}

body,
#root {
	min-height: 100vh;
	background-color: #f9fbf2;
}

.app-container {
	min-height: inherit;
	padding: 1.5rem 0;
	justify-content: center;
	align-items: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5,
p {
	font-size: 1rem;
}

h6 {
	font-size: 0.75;
}

label {
	display: inline-block;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.035rem;
}

.btn {
	padding: 1rem 3rem;
	border: 0px;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1rem;
	letter-spacing: 0.035rem;
	transition: 0.15s ease-in-out all;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	box-shadow: none;
}

.btn-primary {
	font-weight: 700;
	color: #ffffff;
	background-color: #ff6663;
	box-shadow: 0.25rem 0.25rem #ffd7d6;
}

.btn-primary:not(:disabled):hover {
	box-shadow: 0.15rem 0.15rem #ffd7d6;
}

.btn-primary:not(:disabled):active {
	background-color: #ffd7d6;
	box-shadow: 0 0 #ffd7d6;
}
